<h1> Welcome to the world of Spring Boot </h1>
<p> Let us see what all it has to offer to us
<form action="/add-video" method="post">
	<input type="text" name="name">
	<button type="submit">Submit</button>
</form>

<ul>
 {{#videos}}
 	<li>{{name}}</li>
 {{/videos}}
</ul>

<form action="/multi-field-search" method="post>
	<label for="name">Name:</label>
	<input type="text" name="name">
	<p/>
	<label for="description">Description:</label>
	<input type="text" name="description">
	<p/>
	<button type="submit">SearchVideo</button>
</form>

<ul>
 {{#searchResults}}
	<li>{{name}}</li>
 {{/searchResults}}
</ul>
 </p>